/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */

* {
	font-family: 'Inter', sans-serif;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
	box-sizing: border-box;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root {
	max-width: 100vw;
	min-height: 100vh;
	background-image: url(/bg.jpg);
}

.wrapper {
	max-width: 1250px;
	margin: 50px auto;

	background: #fcfcfc;
	border: 6px solid #eaeaea;
}

@media (max-width: 1350px) {
	.wrapper {
		max-width: 850px;
	}
}

@media (max-width: 900px) {
	.wrapper {
		max-width: 450px;
	}
}

@media (max-width: 550px) {
	.wrapper {
		max-width: 350px;
	}
}
